.Item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0 8px;
    align-items: center;
    gap: 8px;
}